<!DOCTYPE html>
<html>

<head>
  <title></title>
  <%= stylesheet_link_tag 'registration', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
    <h1>Zamora Dental Clinic</h1>
<body class="gradient-custom-3">
  <div class="container">
    <h2>Online Appointment</h2>
    <h1></h1>
</body>

</html>
